<li>
{{#link-to "calendar" cal}} 
    <span class='name'> {{cal.name}} </span>
    <span class='notes'> {{cal.notes}} </span>
    <span class='streak'> (Current Streak: {{cal.counter}} days) </span>
    <span class='streak'>{{#link-to "edit" cal class='btn'}} Edit {{/link-to}}</span>
{{/link-to}}
</li>
